body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
    --primary-color: #251e3e;
    --gray: #9CA3AF;
    --lightgrey: #E5E7EB;
}

.link {
    color: white;
    text-decoration: none;
}

.container {
    padding: 1rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    font-size: large;
}

.developer {
    font-size: x-large;
}

.list-non-bullet {
    list-style-type: none;
}

.list-item-inline {
    display: inline;
}

.navigation .link-active {
    font-weight: bold;
}

h1 {
    color: gray;
    font-size: xx-large;
    text-align: center;
}

span {
    color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    background-color: var(--primary-color);
}

.footer-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
    color: white;
}

ul {
    padding-top: 1rem;
    margin: 0.4rem;
    padding-inline-start: 0px;
}

li {
    display: inline;
    padding: 0rem 1rem;
}

a {
    color: grey;
    font-size: 2rem;
    margin: 0.3rem;
}

a:hover {
    color: white;
}