body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
    --primary-color: #251e3e;
    --gray: #9CA3AF;
    --lightgrey: #E5E7EB;
    --btn-color: #892CDC;
}

.link {
    color: white;
    text-decoration: none;
}

.container {
    padding: 1rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    font-size: large;
}

.developer {
    font-size: x-large;
}

.list-non-bullet {
    list-style-type: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.navigation .link-active {
    font-weight: bold;
}

.heading {
    padding: 2rem 0rem;
}

.image {
    padding: 2rem;
    padding-top: 5rem;
}

.image .image-pic {
    max-width: 80%;
    width: 350px;
    margin: auto;
    display: block;
}

.image .image-heading {
    color: var(--gray);
    text-align: center;
    padding-top: 1rem;
}

.image .image-heading .image-inverted {
    color: var(--btn-color);
}

.section-grey {
    background-color: var(--lightgrey);
    padding: 2.5rem 0.5rem;
}

.section-white {
    background-color: white;
    padding: 2.5rem 0rem;
}

.container-center {
    text-align: center;
    padding: 1rem;
}

.primary-link {
    background-color: var(--btn-color);
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    background-color: var(--primary-color);
}

.footer-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
    color: white;
}

ul {
    padding-top: 1rem;
    margin: 0.4rem;
    padding-inline-start: 0px;
}

li {
    display: inline;
    padding: 0rem 1rem;
}

a {
    color: var(--lightgrey);
    font-size: 2rem;
    margin: 0.3rem;
}

a:hover {
    color: white;
}